VITE_SUPABASE_URL=https://hczpjsblllaprflndifh.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_KOgt8Rs6xUeBzmP4qAMWjw_wpFsL-lF

# Generate with: npx web-push generate-vapid-keys
VITE_VAPID_PUBLIC_KEY=
